html * {
    color-profile: sRGB;
    rendering-intent: auto;
}

.syntaxhighlighter {
  background-color: #fdf6e3 !important;  /* base3 #fdf6e3; */
}
.syntaxhighlighter .line.alt1 {
  background-color: #fdf6e3 !important;  /* base3 #fdf6e3; */
}
.syntaxhighlighter .line.alt2 {
  background-color: #fdf6e3 !important;  /* base3 #fdf6e3; */
}
.gutter .line.alt1 {
  background-color: #eee8d5 !important; /* base2 #eee8d5; */
}
.gutter .line.alt2 {
  background-color: #eee8d5 !important; /* base2 #eee8d5; */
}


.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #eee8d5 !important; /* base2 #eee8d5; */
}
.syntaxhighlighter .line.highlighted.number {
  color: #586e75 !important;   /*     base01:    #586e75; */
}
.syntaxhighlighter table caption {
  color: #586e75 !important;   /*     base01:    #586e75; */
}
.syntaxhighlighter .gutter {
  color: #586e75 !important;    /* base01:    #586e75; */
}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #eee8d5 !important;  /* base2 #eee8d5; */
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #586e75 !important;        /* base01:    #586e75; */
  color: white !important;
}
.syntaxhighlighter.printing .line .content {
  border: none !important;
}
.syntaxhighlighter.collapsed {
  overflow: visible !important;
}

/* tool bar */
.syntaxhighlighter.collapsed .toolbar {
  color: blue !important;
  background: white !important;
  border: 1px solid #6ce26c !important;
}
.syntaxhighlighter.collapsed .toolbar a {
  color: blue !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
  color: red !important;
}
.syntaxhighlighter .toolbar {
  color: white !important;
  background: #6ce26c !important;
  border: none !important;
}
.syntaxhighlighter .toolbar a {
  color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
  color: black !important;
}

/* code styles */

/*
    base03:    #002b36;
    base02:    #073642;
    base01:    #586e75;
    base00:    #657b83;
    base0:     #839496;
    base1:     #93a1a1;
    base2:     #eee8d5;
    base3:     #fdf6e3;
    yellow:    #b58900;
    orange:    #cb4b16;
    red:       #dc322f;
    magenta:   #d33682;
    violet:    #6c71c4;
    blue:      #268bd2;
    cyan:      #2aa198;
    green:     #859900;
*/

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #657b83 !important;  /* base00:    #657b83; */
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #93a1a1 !important;   /* base1:     #93a1a1; */
  font-style: italic;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
  color: #2aa198 !important;       /* cyan:      #2aa198; */
}
.syntaxhighlighter .keyword {
  color: #586e75 !important;    /*  base01:    #586e75; */
}
.syntaxhighlighter .preprocessor {
  color: #93a1a1 !important;       /* base1:     #93a1a1; */
}
.syntaxhighlighter .variable {
  color: #268bd2 !important;       /* blue:      #268bd2; */
}
.syntaxhighlighter .value {
  color: #2aa198 !important;       /* cyan:      #2aa198; */
}
.syntaxhighlighter .functions {
  color: #268bd2 !important;       /* blue:      #268bd2; */
}
.syntaxhighlighter .constants {
  color: #cb4b16 !important;       /* orange:    #cb4b16; */
}
.syntaxhighlighter .script {
  font-weight: bold !important;
  color: #FFFF99 !important;
  background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
  color: #b58900 !important;    /* yellow:    #b58900; */
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: #d33682 !important;  /* magenta:   #d33682; */
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: #859900 !important;      /* green:     #859900; */
}

.syntaxhighlighter .keyword {
  font-weight: bold !important;
}
